*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header{
    background-color: black;
    padding: 32px;
    position: fixed;
    width: 100vw;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
    padding: 8px;
    transition: 0.5s;
}

header nav a:hover{
    background-color: #333;
    border-radius: 15%;

}

.grupo{
    padding: 100px;
    height: 100vh;
    background-color: tomato;
    display: flex;
}

#finn{
    background-color: #5aa8c4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finn{
    width: 50%;
    height: 50%;
}

#jake{
    background-color: #ffb700;
    justify-content: center;
    align-items: center;
}

.jake{
    width: 50%;
    height: 50%;
}

#bmo{
    background-color: #0caf9c;
    justify-content: center;
    align-items: center;
}

.bmo{
    width: 50%;
    height: 50%;
}

#jujuba{
    background-color: #ee9dee;
    justify-content: center;
    align-items: center;
}

.jujuba{
    width: 50%;
    height: 50%;
}

#marcy{
    background-color: #891d16;
    justify-content: center;
    align-items: center;
}

.marcy{
    width: 50%;
    height: 10%;
}