* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    padding: 32px;
    position: fixed;
    width: 100vw;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    padding: 8px;
    transition: 0.5s;
}

header nav a:hover {
    background-color: #333;
    border-radius: 15%;
}

.grupo {
    padding: 100px;
    height: 100vh;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finn, .jake, .bmo, .jujuba, .marcy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    height: 600px; 
    overflow: hidden; 
}

.finn img{
    width: 40%; 
    height: 100%;
} 

.texto1{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: end;
    justify-content: left;
    font-family: "Reenie Beanie", cursive;
    font-size: 50px;
    color: rgb(220, 232, 255);
}

.descricao1{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Reenie Beanie";
    font-size: 40px;
    color: rgb(220, 232, 255);
}

.jake img{
    width: 50%; 
    height: 90%;
} 

.texto2{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: end;
    justify-content: left;
    font-family: "Reenie Beanie", cursive;
    font-size: 50px;
    color: black;
}

.descricao2{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Reenie Beanie";
    font-size: 40px;
    color: black;
}

.bmo img{
    width: 60%; 
    height: 90%;
}

.texto3{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: end;
    justify-content: left;
    font-family: "Reenie Beanie", cursive;
    font-size: 50px;
    color: #043726;
}

.descricao3{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Reenie Beanie";
    font-size: 40px;
    color: #043726;
}

.jujuba img{
    width: 30%;
    height: 100%;
}

.texto4{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: end;
    justify-content: left;
    font-family: "Reenie Beanie", cursive;
    font-size: 36px;
    color: #fec91c;
}

.descricao4{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Reenie Beanie";
    font-size: 40px;
    color: #ffcc25;
}

.marcy img {
    width: 85%; 
    height: 100%;
}

.texto5{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: end;
    justify-content: left;
    font-family: "Reenie Beanie", cursive;
    font-size: 36px;
    color: #190200;
}

.descricao5{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Reenie Beanie";
    font-size: 40px;
    color: #190200;
}

.bio{
    width: 50%;
    height: 100%;
}

#finn { background-color: #5aa8c4; }
#jake { background-color: #ffb700; }
#bmo { background-color: #0caf9c; }
#jujuba { background-color: #ee9dee; }
#marcy { background-color: #891d16; }
